
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Записная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
<form action="#" th:name="create"  th:object="${zapiskas}" method="post">
<div th:switch="${appeals}" >
    <h2 th:case="null">No appeals found!</h2>
    <div th:case="*">
        <table style="border-collapse: collapse; width: 90%; height: 56px;" border="1">
            <tbody>
            <tr>
                <td style="width: 100%;">шапка</td>
            </tr>
            </tbody>
        </table>
        <table style="border-collapse: collapse; width: 90%; height: 409px;" border="1">
            <tbody>
            <tr style="height: 409px;">
                <td style="width: 20%; height: 409px;">
                    <div style="width: auto"><input type="text" th:field="*{zametki}" id="zapisnaya"></div>
                </td>
                <td style="width: 80%; height: 409px;">
                    <table style="border-collapse: collapse; width: 100.191%; height: 93px;" border="1" th:each="appeal : ${appeals}">
                        <tbody>
                        <tr style="height: auto;">
                            <td style="width: 14.5038%; height: 93px;">
                                <div th:text="${appeal.date}" style="width: auto"><p>дата</p></div>
                                <div th:text="${appeal.statys}" style="width: auto"><p>статус</p></div>
                                <div th:text="${appeal.next_date}" style="width: auto"><p>контр дата</p></div>
                            </td>
                            <td style="width: 12.4046%; height: 93px;">
                                <div th:text="${appeal.client}" style="width: auto"><p>клиент</p></div>
                                <div th:text="${appeal.mobile}" style="width: auto"><p>телефон</p></div>
                                <div th:text="${appeal.email}" style="width: auto"><p>почта</p></div>
                            </td>
                            <td th:text="${appeal.request}" style="width: 20%; height: 93px;">запрос</td>
                            <td th:text="${appeal.answer}" style="width: 40%; height: 93px;">ответ</td>
                            <td style="width: auto; height: auto;">
                                <p><input type="submit" th:name="create" th:formaction="@{/appeals/{ind}(ind='1')/{id}(id=${appeal.id})}" value="Изменить"></p>
                                <p><input type="submit" th:name="create" th:formaction="@{/appeals/{ind}(ind='2')/{id}(id=${appeal.id})}" value="Удалить"></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <input type="submit" th:name="create" th:formaction="@{/appeals}" value="Create appeal">
</div>
</form>
</body>
</html>





