<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<header>
    <table style="border-collapse: collapse; width: 90%; height: 56px;" border="1">
        <tbody>
        <tr>
            <td style="width: 100%;">шапка</td>
        </tr>
        </tbody>
    </table>
</header>
<body>
<form action="#" th:action="@{/appeal-create}" th:object="${appeal}" method="post">
    <table style="border-collapse: collapse; width: 90%; height: 409px;" border="1">
        <tbody>
        <tr style="height: 409px;">
            <td style="width: 20%; height: 409px;">
                <div style="width: auto" th:object="${zapiska}"><input type="text" th:field="*{zametki}" id="zapisnaya"></div>
            </td>
            <td style="width: 100%; height: 409px;">
                <table style="border-collapse: collapse; width: 100.191%; height: 93px;" border="1">
                    <tbody>
                    <tr style="height: auto;">
                        <td style="width: 14.5038%; height: 93px;">
                            <div style="width: auto"><p><input type="text" field="*{date}" name="date" id="date" placeholder="Дата"></p></div>
                            <div style="width: auto"><p><input type="text" field="*{statys}" name="statys" id="statys" placeholder="Статус"></p></div>
                            <div style="width: auto"><p><input type="text" field="*{next_date}" name="next_date" id="next_date" placeholder="Контрольная дата"></p></div>
                        </td>
                        <td style="width: 12.4046%; height: 93px;">
                            <div style="width: auto"><p><input type="text" field="*{client}" name="client" id="client" placeholder="Клиент"></p></div>
                            <div style="width: auto"><p><input type="text" field="*{mobile}" name="mobile" id="mobile" placeholder="89003332244"></p></div>
                            <div style="width: auto"><p><input type="text" field="*{email}" name="email" id="email" placeholder="e-mail"></p></div>
                        </td>
                        <td style="width: 20%; height: 93px;"><input type="textarea" field="*{request}" name="request" id="request" placeholder="Потребность"></td>
                        <td style="width: 40%; height: 93px;"><input type="textarea" field="*{answer}" name="answer" id="answer" placeholder="Ответ"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

    <p><input type="submit" value="Create appeal"></p>
</form>
</body>
</html>